attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fake-useragent==0.1.11
flake8==3.9.0
flake8-builtins==1.5.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-print==4.0.0
idna==2.10
iniconfig==1.1.1
lxml==4.6.3
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pydocstyle==6.0.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.2
pytest-flake8==1.0.7
requests==2.25.1
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
